body {
  background-image: url(../images/Stars.jpg);
  background-size: 2000px;
  font-family: Times, serif, "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  color: darkblue;
  font-size: 4em;
  margin: 0 auto;
}

.container {
  background: rgb(224, 255, 255, 0.5);
  width: 950px;
  margin-top: 12%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.timer {
  font-size: 2em;
  padding: 15px;
}

.quiztitle {
  text-align: center;
}

.question,
.answerA,
.answerB,
.answerC,
.answerD {
  font-size: 2em;
}

.choice {
  border: 1px solid lightgrey;
  padding: 10px;
  font-size: 1.5em;
  border-radius: 4px;
  cursor: pointer;
}

.result {
  font-size: 1.5em;
  padding: 10px;
}

img {
  margin-left: 300px;
  height: 200px;
  width: 300px;
}

.factoid {
  font-size: 1.4em;
  padding: 10px;
  margin-top: 10px;
}

.resultTitle {
  text-align: center;
  font-size: 2em;
  padding: 10px;
}
